* {
    padding: 10px;
    margin: 0px;
  }

 /* .circleImg {
    background-image: url(../img/circle.png);
    width: 150px;
    height: 150px;
    margin: 64px auto;
  } */

 
  body {
    background-color:rgb(50, 50, 50);
    font-family: Helvetica, Arial, sans-serif;
  }

  .circleImg {
    background-image: url("images/circle.png");
    width: 285px;
    height: 275px;
    margin: 64px auto;
    position: absolute;
    top:200px;
    left:450px
  }


  .text {
    display: block;
    width: 50%;
    margin: 96px auto;
    /* border: 1px solid black; */
    /* turn borders off and on to see the borders of the display area */
  }

  .txt4-1 {
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: "Workbench", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  
      color: rgb(240, 240, 240);
      font-size: 1.0rem;
      text-align: center;
    
  }

  .txt4-2 {
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: "Workbench", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  
      color: rgb(240, 240, 240);
      font-size: 1.0rem;
      text-align: center;
    
  }

 /* .circleImg {
    background-image: url(../img/circle.png);
    width: 200px;
    height: 200px;
    margin: 64px auto;
  } */

  

  a
  {
    /* font-family: Helvetica, Arial, sans-serif; */
     color: rgb(200, 200, 200);
   
  }