* {
    padding: 10px;
    margin: 0px;
  }
  
  body {
    background-color:rgb(10, 10, 10);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .text {
    display: block;
    width: 50%;
    margin: 96px auto;
    /* border: 1px solid black; */
    /* turn borders off and on to see the borders of the display area */
  }

  .mirrorImg {
    background-image: url("images/mirror.png");
    width: 380px;
    height: 480px;
    margin: 64px auto;
    position: absolute;
    top:5px;
    left:425px
  }

 

  a {
    color: rgb(245, 245, 245);
   }

.txt{
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(245, 245, 245);
    font-size: 1.0rem;
    text-align: left; 
  
  position:absolute;
  top:250px;
  left:50px;
}

.txt2{
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(245, 245, 245);
    font-size: 1.0rem;
    text-align: left; 
  
  position:absolute;
  top:250px;
  left: 850px;
}

.txt3-1{
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(245, 245, 245);
    font-size: 1.0rem;
    text-align: left; 
  
  position:absolute;
  top:10px;
  left:10px;
}

.txt3-2{
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(245, 245, 245);
    font-size: 1.0rem;
    text-align: left; 

  position:absolute;
  top:550px;
  left:1150px;
}

.txt9-1{
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(245, 245, 245);
    font-size: 2.0rem;
    text-align: left; 

  position:absolute;
  top:25px;
  left:25px;
}

.txt9-2{
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(245, 245, 245);
    font-size: 2.0rem;
    text-align: left; 

  position:absolute;
  top:400px;
  left:100px;
}

.txt9-3{
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(245, 245, 245);
    font-size: 2.0rem;
    text-align: left; 

  position:absolute;
  top:400px;
  left:1000px;
}

.txt9-4{
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(245, 245, 245);
    font-size: 2.0rem;
    text-align: left; 

  position:absolute;
  top:25px;
  left:1150px;
}

.txt10{
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(103, 0, 0);
    font-size: 2.0rem;
    text-align: left; 

  position:absolute;
  top:400px;
  left:550px;
}