* {
    padding: 10px;
    margin: 0px;
  }
  
  body {
    background-color:rgb(10, 10, 10);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .text {
    display: block;
    width: 50%;
    margin: 96px auto;
    /* border: 1px solid black; */
    /* turn borders off and on to see the borders of the display area */
  }


  h2 {
   /* font-family: "Futura Press", Helvetica, Arial, sans-serif; */
   font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;

    color: rgb(240, 240, 240);
    font-size: 2.0rem;
    text-align: left; 
  }